@import "../colors.scss";
@import "../breakpoints.scss";

.carosel {
  width: 100%;
  display: grid;
  overflow: hidden;
  grid-template-columns: auto 1fr auto;
  grid-template-areas: "image image image";
  align-items: center;
  border-radius: 0.5rem;
  .carosel__btn {
    border-radius: 50%;
    border: none;
    padding: 1rem;
    opacity: 50%;
    transition-duration: 100ms;
    font-size: 1rem;

    @include tablet-landscape {
      font-size: 1.7rem;
    }
    &:hover {
      opacity: 80%;
    }
    &:active {
      filter: invert(1);
      transition-duration: 0ms;
    }
  }
  .carosel__slider {
    // grid-area: 1/1/1/3;
    grid-area: image;
  }
  .carosel__image {
    object-fit: contain;
  }
  .carosel__btn__back {
    grid-area: 1/1/1/1;
    z-index: 10;
  }
  .carosel__btn__next {
    grid-area: 1/3/1/3;
    z-index: 10;
  }
  .carosel__btn__dotgroup {
    grid-area: 1/2/1/2;
    z-index: 10;
    align-self: end;
    justify-self: center;
    opacity: 60%;
    transition: 100ms;
    &:hover {
      opacity: 80%;
    }
    .carousel__dot {
      font-size: 0.7rem;
      padding: 0;
      background: none;
      border: none;
      text-shadow: none;
      &:disabled {
        color: black;
      }
    }
  }
}
