@import "../colors.scss";
@import "../breakpoints.scss";

.project {
  padding: 1em;
  max-width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: "title title" "description carosel";
  gap: 2em;

  .project-header {
    grid-area: title;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .project-header-title {
      font-size: 2rem;
      margin: 0;
    }
    .project-header-stack {
      font-size: medium;
      font-weight: lighter;
      font-style: italic;
      margin: 0;
    }
  }
  .project-carosel {
    grid-area: carosel;
  }
  .project-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas: "description description" "link github";
    gap: 2em;
    .project-description {
      grid-area: description;
    }

    .project-content-buttons {
      padding: 0.7em;
      text-align: center;
      border-radius: 0.7em;
      border: 1px solid $text-white;
      font-weight: bold;
      text-decoration: none;
      &:visited {
        color: $text-white;
      }
      &:hover {
        background-color: $lapis-lazuli;
        text-shadow: 0px -1px 0px #2b665e;
      }
      &:active {
        text-shadow: none;
        filter: invert(1);
      }
      &.project-link {
        grid-area: link;
      }
      &.project-github {
        grid-area: github;
      }
    }
  }
}
