@import "./colors.scss";
@import "./breakpoints.scss";

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
body {
  color: $text-white;
  font-size: 14px;
  @include tablet-portrait {
    font-size: 15px;
  }
  @include tablet-landscape {
    font-size: 16px;
  }
}
.App {
  display: grid;
  @include tablet-landscape {
    overflow-x: hidden;
    grid-template-areas: "navbar body";
    grid-template-columns: auto 1fr;
    grid-template-rows: 100vh;
  }
  grid-template-columns: auto;
  grid-template-rows: auto 1fr;
  grid-template-areas: "navbar" "body";
  height: 100vh;
  // @include tablet-portrait {
  // }
}

.body {
  grid-area: body;
  // width: 95vw;
  overflow-y: scroll;
  background-color: $lapis-lazuli;
  @include phone {
    width: 100%;
  }
}

.project-spacer {
  padding: 2rem 0;
  &.project-even {
    background-color: $celadon-blue;
    .carosel {
      background-color: $blue-ncs;
    }
  }
  &.project-odd {
    background-color: $blue-ncs;
    .carosel {
      background-color: $celadon-blue;
    }
  }
}

.about-me {
  background-color: $prussian-blue;
  // background-image: url(../src/images/dark-honeycomb.png);
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  // z-index: -10;
}

.bg-title {
  position: sticky;
  top: 0;
  // letter-spacing: 8pt;
  margin: 0;
  // margin-bottom: 1em;
  padding-top: 1rem;
  font-size: 2rem;
  @include tablet-landscape {
    font-size: 3rem;
  }
  text-shadow: -1px 1px 0 rgb(128, 128, 128), -2px 2px 1px rgba(0, 0, 0, 1);
  -webkit-text-shadow: -1px 1px 0 rgb(128, 128, 128),
    -2px 2px 1px rgba(0, 0, 0, 1);
  -moz-text-shadow: -1px 1px 0 rgb(128, 128, 128), -2px 2px 1px rgba(0, 0, 0, 1);
  background-color: $lapis-lazuli;
  z-index: 100;
}
