.profile {
  max-width: 50em;
  margin: 0 auto;
  background-color: whitesmoke;
  padding: 3rem;
  border-radius: 3rem;
  .profile-skills {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
    grid-template-areas: "content carosel";
    .profile-skills-content {
      grid-area: content;
    }
    .profile-skills-carosel {
      max-height: 10em;
      grid-area: carosel;
    }
  }
  .profile-links {
  }
  .profile-description {
  }
  .profile-education {
  }
}
