@import "../colors.scss";
@import "../breakpoints.scss";

.profile {
  max-width: 50rem;
  margin: 3rem auto;
  background-color: whitesmoke;
  padding: 3rem;
  border-radius: 3rem;
  color: $prussian-blue;
  .profile-skills {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
    grid-template-areas: "content carosel";
    .profile-skills-content {
      grid-area: content;
    }
    .profile-skills-carosel {
      max-height: 10rem;
      grid-area: carosel;
    }
  }
  .profile-links {
  }
  .profile-description {
  }
  .profile-education {
  }
}
