$width-expanded: 30em;
$width-mini: 5em;
$max-width: 80vw;
$transition: 500ms;

.sidebar {
  transition: $transition;
  // flex-basis: $width-expanded;
  // flex-shrink: 0;
  width: $width-expanded;
  background-color: #1a1a1b;
  color: white;
  &.sidebar--hidden {
    // flex-basis: $width-mini;
    width: $width-mini;
  }
}

.sidebar__button {
  position: fixed;
  z-index: 100;
  transition: 200ms;
  &.sidebar__button--hidden {
    color: transparent;
  }
  &:hover {
    transform: scale(0.8);
  }
  &:active {
    transform: scale(2) rotateZ(90deg);
    color: transparent;
  }
}

.navbar {
  // width: $width-expanded;
  width: 100%;
  max-width: $max-width;
  border: solid red 1px;
  transition: $transition;
  margin-top: 10em;
  .navbar__expand-btn {
    display: block;
    position: fixed;
  }
  &.navbar--hidden {
    width: 0;
    overflow: hidden;
  }
  > h2 {
    white-space: nowrap;
    overflow: hidden;
  }
}
